* {
  font-family: 'Playfair Display', serif;
/* background: #efefef; */
}

body {
  margin: 0 auto;
}
body header{
  background-color: #caebf2;
  top: 0px;
  position: fixed;
  overflow: hidden;
  width:  100%;
  padding-left: 18%;
}

body header a {
  text-decoration: none;
  color: black;
}

h2, h3 {
  font-family: 'IM Fell English SC', serif;
}

main {
  background-color: #caebf2;
  width: 960px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
}

button {
  position: relative;
  left: 35%;
  right: 38%;
  font-size: 18px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background-color: #FF3b3f;
  border-radius: 10px;
  margin-top: 20px;
}

button:hover {
  color: white;
  background-color: #a9a9a9;
  cursor: pointer;
}

p {
  font-family: 'Karla', sans-serif;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
}

nav {
  width: 100%;
  background: #a9a9a9;
  position: fixed;
  overflow: hidden;
  top: 80px;
}

#home a {
  background-color: #FF3b3f;
}

nav ul {
  text-align: center;
  margin: 0;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  background: #a9a9a9;
  text-decoration: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

nav ul li a:hover {
  background: #FF3b3f;
}

footer {
  text-align: center;
  background: #A9A9A9;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
 
footer p a {
  text-decoration: none;
  color: white;
}