* {
  font-family: 'Playfair Display', serif;
}

body {
  width: 960px;
  margin: 0 auto;
}

h2, h3 {
  font-family: 'IM Fell English SC', serif;
}

button {
  position: relative;
  left: 45%;
  right: 45%;
  font-size: 18px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background-color: #945D60;
  border-radius: 10px;
  margin-top: 20px;
}

button:hover {
  color: white;
  background-color: #af4737;
  cursor: pointer;
}

p {
  font-family: 'Karla', sans-serif;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
}

nav {
  width: 100%;
  background: #626E60;
}

nav ul {
  text-align: center;
  margin: 0;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  background: #626E60;
  text-decoration: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

nav ul li a:hover {
  background: #945D60;
}

footer {
  text-align: center;
  background: #3C3C3C;
  color: white;
}

footer p a {
  text-decoration: none;
  color: white;
}