* {
  font-family: 'Playfair Display', serif;
}

body {
  width: 960px;
  margin: 0 auto;
}

h2, h3 {
  font-family: 'IM Fell English SC', serif;
}

p {
  font-family: 'Karla', sans-serif;
}

nav {
  width: 100%;
  background: #626E60;
}

nav ul {
  text-align: center;
  margin: 0;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  background: #626E60;
  text-decoration: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

nav ul li a:hover {
  background: #945D60;
}

table {
  margin: 0 auto;
}

table td {
  padding-right: 5px;
}

#quizResult {
  text-align: center;
}

#quizResult h2 {
  text-align: left;
}

#quizResult p a {
  color: #af4737;
  text-decoration: none;
}

footer {
  text-align: center;
  background: #3C3C3C;
  color: white;
}

footer p a {
  text-decoration: none;
  color: white;
}