* {
  font-family: 'Playfair Display', serif;
}

body {
  margin: 0 auto;
}

header {
  background-color:#CAEBF2;
  top:0;
  width:100%;
  margin-bottom:0px;
  padding-left:18%;
  position:fixed;
}

main {
 width: 600px;
 margin: 0 auto;
}

main p {
 width: 480px;
 margin: 0 auto; 
 padding-top: 30px;
}

h2, h3 {
  font-family: 'IM Fell English SC', serif;
}

p {
  font-family: 'Karla', sans-serif;
}


nav {
  position:fixed;
  top:80px;
  width: 100%;
  background: #A9A9A9;
}

nav ul {
  text-align: center;
  margin: 0;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  background: #A9A9A9;
  text-decoration: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

nav ul li a:hover {
  background: #FF3B3F;
}

table {
  margin: 0 auto;
}

table td {
  padding-right: 5px;
}

#questionDisplay {
  margin-top:150px;
}

#quizResult {
  text-align: center;
  margin-bottom: 30px;
  margin-top:150px;
}

#quizResult h2 {
  text-align: left;
}

#quizResult p a {
  color: #FF3B3F;
  font-family:'IM Fell English SC', serif;
  text-decoration: none;
  font-size: 20px;
}

canvas {
  width: 960px;
  margin: 0 auto;
}
footer {
  text-align: center;
  background: #3C3C3C;
  color: white;
}

footer p a {
  text-decoration: none;
  color: white;
}